h2{
    color:rgb(2, 2, 53)
}
.game-board-container{
    border:5px solid grey;padding:5em ;width:80%;margin:0 auto
}
.button-container{
    padding:3px
}

.floor{
    border:1px solid grey
}
.btn-up{
    background-color: rgb(245, 245, 63);
    color:white;
    border:none;
    padding: 0.2em;
}
.btn-down{
    background-color: green;
    color:white;
    border:none;
    padding: 0.2em;
}
.lift-container{
    position: relative;
}
.lift,.lift-container {
	/*
	
	border-radius: 10px;
	
	
    transition: 3s linear; */
    position: absolute; 
    left: 1em;
	display: flex;
    
     top: 1em;
	background: blue;

    align-items: center;
    color: white;
	justify-content: center;
    width: 50px;
	height: 70px;
    border:1px solid blue;
}